html{
    background-image: url("hF.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    
}
#logo{
    max-width: 5%;
    border-radius: 60%;
    margin: 0%;
}
span{
    color: blueviolet;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: right;
}li>a{
    display: block;
    padding: 20px;

}
a :hover{
    background-color: red;
}
nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
}
.nav{
    background-color: grey;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;

}
.first {
    background-color:lightslategray;
    width: 30%;
    height: 10%;
    border: 20px solid lightslategray;
    border-radius: 20%;
    
}
.second {
    background-color: lightslategray;
    width: 30%;
    height: 10%;
    border: 20px solid lightslategray;
    border-radius: 20%;
    
}
.third{
    background-color: lightslategray;
    width: 30%;
    border: 20px solid lightslategray;
    border-radius: 20%;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}
.fourth{
    background-color: lightgrey;
    width: 40%;
    border: 10px solid lightgrey;
    border-radius: 40%;
    text-align: center;
    margin-left: 20%;
}
.fifth{
    background-color: lightgrey;
    width: 40%;
    border: 10px solid lightgrey;
    border-radius: 40%;
    text-align: center;
    margin-left: 20%;
}
img{
 max-width: 30%;
 margin-top: 30%;
 border: 10px solid black;
 border-radius: 20px;

}
.end{
    border: 5px solid lightpink;
    border-radius: 50px;
    background-color: lightpink;
}